{% extends 'shaxf/base/base.html' %}
{% load static from staticfiles%}

{% block linescript%}
<link rel="stylesheet" type="text/css" href="{% static 'shaxf/market/css/market.css' %}" />
<script type="text/javascript" charset="utf-8" src="{% static 'shaxf/market/js/market.js' %}"></script>
{% endblock linescript%}

{% block base%}
<div id="marketDiv">
    <aside>
        <menu>
            <ul>
                {% for item in leftSlider %}
                <li>
                    <span id="{{item.typeid}}"></span>
                    <a href="/market/{{item.typeid}}/0/0/">{{item.typename}}</a>
                </li>
                {% endfor %}
            </ul>
        </menu>
    </aside>




    <section>
        <nav>
            <ul>
                <li><span id="alltypebtn">全部类型<span class="glyphicon glyphicon-chevron-down" style="font-weight: 100"></span></span></li>
				<li><span id="showsortbtn">综合排序<span class="glyphicon glyphicon-chevron-down" style="font-weight: 100"></span></span></li>
            </ul>
        </nav>


        <menu>
            <ul>
                {% for item in productList %}
                <li>
                    <a href="#">
                        <img src="{{item.productimg}}" />
                        <article class="shoppingInfo">
                            <h6>{{item.productlongname}}</h6>
                            <p class="detailTag"><span>精选</span><span>{{item.pedesc}}</span></p>
                            <span class="unit">{{item.specifics}}</span>
                            <p class="price"><span>￥{{item.price}}</span><s><span>￥{{item.marketprice}}</span></s></p>
                        </article>
                    </a>
                    <section id="btnTools">
						<button pd="{{item.productid}}" class="subShopping">-</button>
                        <span id="pnum{{item.productid}}">{{item.num|default:0}}</span>
						<button pd="{{item.productid}}" class="addShopping">+</button>
					</section>
                </li>
                {% endfor %}
            </ul>


            <div id="typediv">
                <div>
                    {% for item in childList %}
                    <a href="/market/{{gid}}/{{item.childId}}/0/"><span>{{item.childName}}</span></a>
                    {% endfor %}
                </div>
            </div>

            <div id="sortdiv">
                <div>
                    <a href="/market/{{gid}}/{{cid}}/0/" class="sorta"><span>综合排序</span></a>
                    <a href="/market/{{gid}}/{{cid}}/1/" class="sorta"><span>销量排序</span></a>
                    <a href="/market/{{gid}}/{{cid}}/2/" class="sorta"><span>价格最低</span></a>
                    <a href="/market/{{gid}}/{{cid}}/3/" class="sorta"><span>价格最高</span></a>
                </div>
            </div>



        </menu>



    </section>
</div>
{% endblock base %}